:root {
    --cell-size: 60px;
    --width: 7;
}

body {
    background-color: burlywood;
    font-family: "Gill Sans", sans-serif;
}

#page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
}

#choose {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: burlywood;
}

#first-row {
    color: #351804;
    margin-bottom: 10vh;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    #first-row {
        font-size: 30px;
    }
}

#second-row>button {
    width: 130px;
    height: 130px;
    margin: 5px;
    background-color: #75533a;
    border: none;
    font-size: 25px;
    color: #ddc5b2;
}

#second-row>button:hover {
    cursor: pointer;
    background-color: #75533a7a;
    color: #75533a;
}

#choose.disappear {
    display: none;
}

#board {
    position: relative;
    border: solid 10px #75533a;
    margin: auto;
    width: fit-content;
    background-color: white;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(var(--width), auto);
}

span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #75533a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    color: #F6BE00;
}

span>button {
    border: none;
    height: 15%;
    margin-top: 15%;
    background-color: #382414;
    width: 40%;
    color: #d8bda9;
    font-family: "Gill Sans", sans-serif;
    font-size: x-large;
}

span>button:hover {
    background-color: #d8bda9;
    cursor: pointer;
    color: #75533a;
}

.cell {
    background-color: white;
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: not-allowed;
}

.red {
    background-color: rgba(255, 0, 0, 0.8);
}

.green {
    background-color: rgba(0, 128, 0, 0.8);
    cursor: pointer;
}

.blue {
    background-color: rgba(0, 0, 255, 0.8);
}

.hover {
    cursor: pointer;
    opacity: 0.3;
}